@media screen and (max-width: 576px){
    .prog-container{
        display: block;
        margin-top: 25px;
        width: auto;
    }
    .prog-card{
        width: 350px;
        height: 150px;
        margin: auto;
        margin-bottom: 20px;
    }
    .prog-img{
        width: 120px;
        height: 150px;
    }
    .prog-text{
        margin-top: 45px;
    }
    .prog-title{
        font-size: 12px;
    }
    .prog-zero{
        font-size: 30px;
    }
}